/* custom CSS goes here */

body {
    background-color: rgba(127, 155, 145, 0.836);
 
 
 }

 div.container {
    width: 100%;
    background-color: rgba(169, 176, 182, 0.9);
    border:5%;
    padding: 20px;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(19, 18, 14, 0.945), 0 6px 20px 0 rgba(19, 18, 14, 0.19);
    border: 1px;
    border-style: dashed;
    border-color: black;
 }